*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    background: url(unsplash_beach.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo{
    font-size: 30px;
    color: #f2f2f2;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a {
    position: relative;
    font-size: 20px;
    color: white;
    font-weight: 100;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a.active {
    color: chartreuse;
    font-style: italic;
}

.navbar a:hover{
    color: chartreuse;
    font-style: italic;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: chartreuse;
    transition: .3s;
}

.navbar a:hover::before{
    width: 100%;
}

.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: aqua;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: magenta;
    font-style: italic;
    font-family: fantasy;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.H2{
    color: blueviolet;
}
.menu_symbol{
  font-size: 30px;
   cursor:pointer;
}

section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: white;
    font-weight: 700;
}

@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }
}

@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
    .section{
        width: 100%;
        font-size: 50px;
        align-items: center;
    }
}